<a href="https://colab.research.google.com/github/moqri/gene-regulatory-network/blob/master/Yeast_TF_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -O expression.zip -nc https://storage.googleapis.com/calico-website-pin-public-bucket/datasets/idea_tall_expression_data.zip
!unzip -n expression.zip

--2020-06-02 16:30:21--  https://storage.googleapis.com/calico-website-pin-public-bucket/datasets/idea_tall_expression_data.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 173.194.216.128, 2607:f8b0:400c:c1a::80
Connecting to storage.googleapis.com (storage.googleapis.com)|173.194.216.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 368238973 (351M) [application/zip]
Saving to: ‘induction.zip’

induction.zip       100%[===================>] 351.18M  45.7MB/s    in 9.3s

2020-06-02 16:30:32 (37.8 MB/s) - ‘induction.zip’ saved [368238973/368238973]

Archive:  induction.zip
  inflating: idea_tall_expression_data.tsv
   creating: __MACOSX/
  inflating: __MACOSX/._idea_tall_expression_data.tsv

In [97]:
import pandas as pd
expression_df=pd.read_table('idea_tall_expression_data.tsv')
expression_df.shape

(10454275, 15)

In [146]:
df=expression_df[expression_df.GeneName.isin(set(expression_df.TF))]
df.shape

(340293, 15)

In [147]:
df=df[df.time==45]
df.shape

(42813, 15)

In [148]:
cols=['TF','GeneName','log2_shrunken_timecourses']
df=df[cols]
df

            TF GeneName  log2_shrunken_timecourses
182       ACA1     ACA1                   5.188579
206       ACA1     ACE2                   0.000000
310       ACA1     ADA2                   0.000000
518       ACA1     ADR1                   0.000000
622       ACA1     AFT1                   0.000000
...        ...      ...                        ...
10452889  ZNF1     YOX1                   0.000000
10453953  ZNF1     YRM1                   0.000000
10453969  ZNF1     YRR1                   0.000000
10454129  ZNF1     ZAP1                   0.000000
10454185  ZNF1     ZNF1                   3.275457

[42813 rows x 3 columns]

In [149]:
df=df[df.log2_shrunken_timecourses>0]
df = df[df.TF != df.GeneName]
df=df.groupby(['TF','GeneName']).mean().reset_index()
df.sort_values

<bound method DataFrame.sort_values of         TF GeneName  log2_shrunken_timecourses
0     ACA1     CIN5                   5.415510
1     ACA1     GAT2                   1.186696
2     ACA1     GSM1                   0.599660
3     ACA1     HAP4                   1.103500
4     ACA1     HMS1                   0.370246
...    ...      ...                        ...
1395  ZAP1     MGA1                   1.642818
1396  ZAP1     MIG2                   1.024218
1397  ZAP1     MOT3                   0.550957
1398  ZAP1     MTF1                   0.289526
1399  ZAP1     RPH1                   0.775392

[1400 rows x 3 columns]>

In [155]:
df[df.TF=='TEC1']

        TF GeneName  log2_shrunken_timecourses
1281  TEC1    DAL80                   0.606287
1282  TEC1     FLO8                   0.325697
1283  TEC1     GRX3                   0.377927
1284  TEC1     KSS1                   0.644883
1285  TEC1    STE12                   0.932176
1286  TEC1     SUT2                   0.522930
1287  TEC1     YHP1                   0.303219